.contentCard {
    width: 70rem;
    background-color: var(--primary-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 5px;

    .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        height: 100%;

        >section {
            width: 40rem;
            height: 100%;

            >header {
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;
            }

            >ul {
                background-color: var(--secondary-white);
                overflow-y: auto;
                max-height: 40rem;

                >li,
                >button {
                    background-color: inherit;
                    border: none;
                    font-family: var(--primary-font-family);
                    transition: background-color 0.25s ease-out;
                    -webkit-transition: background-color 0.25s ease-out;
                    -moz-transition: background-color 0.25s ease-out;
                    -o-transition: background-color 0.25s ease-out;

                    &:hover,
                    &:focus-visible {
                        background-color: #b4b4b6;
                        cursor: pointer;
                        outline: none;
                    }
                }
            }
        }
    }
}