@use '@mixins' as breakpoints;

.mainContainer {}

.accountPageContainer {
    height: 100%;
    background-color: var(--secondary-white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 47.5rem;
    height: calc(100% - 30rem);
    padding: 2rem;
    row-gap: 2rem;

    @include breakpoints.for-tablets {
        min-height: 66.5rem;
    }

    @include breakpoints.for-phones {
        min-height: 114rem;
    }

    .topSection {
        display: inline-flex;
        align-items: center;

        @include breakpoints.for-tablets {
            display: flex;
            flex-direction: column;
        }

        .topGrouping {
            display: flex;
            align-items: center;

            @include breakpoints.for-phones {
                flex-direction: column;
                row-gap: 2rem;
            }

            .userCard {
                height: 16rem;
                background-color: var(--tertiary-white);
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                row-gap: 0.5rem;
                width: 12rem;
                padding: 1rem;
                margin-right: 2rem;

                >header {
                    font-size: 2.5rem;
                    max-width: 100%;
                    word-wrap: break-word
                }

                @include breakpoints.for-tablets {
                    margin-right: 0;
                }
            }

            .problemTypeChart {
                width: 20rem;
                height: 12rem;
                padding-left: 2rem;
                padding-right: 2rem;

                @include breakpoints.for-tablets {
                    padding: 0;
                }
            }
        }

        .activityChart {
            width: 100%;
            height: 14rem;
            margin-left: 2rem;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-x: auto;

            @include breakpoints.for-tablets {
                margin-left: 0;
                margin-top: 1rem;
            }
        }
    }

    .bottomSection {
        display: inline-flex;
        align-items: center;

        @include breakpoints.for-phones {
            flex-direction: column;
        }

        .solvedProblems {
            width: 40%;
            height: 26rem;
            background-color: var(--tertiary-white);
            border-radius: 5px;
            margin-right: 4rem;
            padding: 1rem;

            @include breakpoints.for-phones {
                width: 100%;
                margin-bottom: 2rem;
                margin-right: 0;
            }

            >header {
                font-size: 2rem;
                margin-bottom: 1rem;

                @include breakpoints.for-tablets {
                    font-size: 1.5rem;
                }
            }

            >ul {
                max-height: calc(100% - 8rem);
                padding: 0;
                overflow-y: auto;

                >li {
                    transition: background-color 0.25s ease-out;
                    -webkit-transition: background-color 0.25s ease-out;
                    -moz-transition: background-color 0.25s ease-out;
                    -o-transition: background-color 0.25s ease-out;

                    &:nth-child(odd) {
                        background-color: var(--secondary-white);
                    }

                    &:nth-child(even) {
                        background-color: var(--primary-white);
                    }

                    &:hover,
                    &:focus-visible {
                        background-color: #b4b4b6;
                        outline: none;
                        cursor: pointer;
                    }

                    >button {
                        border: none;
                        background-color: inherit;
                        color: var(--font-primary-color);
                        transition: background-color 0.25s ease-out;
                        -webkit-transition: background-color 0.25s ease-out;
                        -moz-transition: background-color 0.25s ease-out;
                        -o-transition: background-color 0.25s ease-out;

                        &:hover,
                        &:focus-visible {
                            cursor: pointer;
                            background-color: #b4b4b6;
                            outline: none;
                        }

                        span {
                            font-family: 'Fredoka', sans-serif !important;
                        }
                    }
                }
            }
        }

        .submissionsAndAdminPanel {
            height: 26rem;
            background-color: var(--tertiary-white);
            border-radius: 5px;
            padding: 1rem;
            width: calc(60% - 4rem);

            @include breakpoints.for-phones {
                width: 100%;
                margin-right: 0;
            }

            .buttonGroup {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-content: center;
                column-gap: 1rem;
                margin-bottom: 1rem;
            }

            .submissions {
                margin-top: 1rem;
                height: 20rem;

                >ul {
                    max-height: calc(100%);
                    padding: 0;
                    overflow-y: scroll;

                    >li {
                        color: var(--font-primary-color);
                        transition: background-color 0.25s ease-out;
                        -webkit-transition: background-color 0.25s ease-out;
                        -moz-transition: background-color 0.25s ease-out;
                        -o-transition: background-color 0.25s ease-out;

                        span {
                            font-family: 'Fredoka', sans-serif !important;
                        }

                        >span {
                            padding: 0.5rem 1rem;
                            width: 4.25rem;
                            font-size: 1.25rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 800;
                            color: var(--secondary-orange);
                        }

                        >div {
                            >span {
                                margin-right: 1rem;
                            }
                        }

                        .approved {
                            color: var(--secondary-green);
                        }

                        .rejected {
                            color: var(--primary-red);
                        }

                        &:nth-child(odd) {
                            background-color: var(--secondary-white);
                        }

                        &:nth-child(even) {
                            background-color: var(--primary-white);
                        }

                        &:hover,
                        &:focus-visible {
                            background-color: #b4b4b6;
                            outline: none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}