<main>
    <div class="main-container">
        <div class="problem-description"> 
            <div class="section-header">
                <h4 class="hoverable-header">Description 📖</h4>
                <vertical-seperator marginLeftRight="0"></vertical-seperator>
                <h4 class="hoverable-header">Hints 🤔</h4>
                <vertical-seperator marginLeftRight="0"></vertical-seperator>
                <h4 class="hoverable-header">Pseudocode 💡</h4>
                <vertical-seperator marginLeftRight="0"></vertical-seperator>
                <h4 class="hoverable-header">User's Solutions 🎯</h4>
            </div>
            <div class="section-container">
                <div class="description-title"> 
                    <h3> 1. Sort List </h3>
                    <p class="rating"> 3.5/5 ⭐ </p>
                </div>
                <div class="description-tags">
                    <div class="tag"> 
                        HARD
                    </div>
                </div>
                <div class="problem-explanation">
                    <section class="white-boxed-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </section>
                </div>
                <div class="problem-informator">
                    <h3> Example </h3>
                    <section class="white-boxed-text">
                        Input: nums = [3,2,4]
                        <br/>
                        Output: [2, 3, 4]
                    </section>
                </div>
                <div class="problem-informator">
                    <h3> Constraints </h3>
                    <section class="white-boxed-text">
                        <li> 0 <= nums.length <= 10^5 </li>
                        <li> -10000 <= nums[i] <= 10000</li>
                    </section>
                </div>
                <div class="problem-buttons">
                    <button> Rate 👍 </button>
                    <button> Comment 💬 </button>
                    <button class="red"> Report  ⚠️ </button>
                </div>
            </div>
        </div>
        <vertical-seperator></vertical-seperator>
        <div class="coding-workspace"> 
            <div class="section-header"> 
                <h4> Coding Workspace 📝 </h4> 
            </div> 
            <div class="section-container">
                test
            </div>
        </div>
    </div>
</main>
  