.tagsContainer {
    width: 100%;

    > ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        flex-wrap: wrap;
        margin: 0;

        > li {
            text-transform: capitalize;
            padding: 0.375rem 0.5rem;
            margin-left: 3rem;
            margin-bottom: 1.25rem;
            height: 1.25rem;
            position: relative;
            background-color: var(--gui-primary-color);
            color: var(--primary-white);

            &:first-child {
                margin-left: 2rem;
            }

            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                left: -2rem;
                top: 0;
                border-top: 1rem solid transparent;
                border-right: 2rem solid var(--gui-primary-color);
                border-bottom: 1rem solid transparent;
            }
        }
    }
}