@use '@/mixins' as breakpoints;

.navbarContainer {
    width: calc(100% - 1.5rem);
    padding: 1rem 0.75rem;
    height: 5rem;
    position: relative;
    transition: transform 0.3s ease;
    transform: translateY(0);
    z-index: 10;

    .toggleButton {
        position: absolute;
        bottom: -0.125rem;
        left: calc(50% - 1.5rem);
        z-index: 100;
        background-color: var(--gui-primary-color) !important;
        color: var(--primary-white);
        transition: bottom 0.3s ease;
        border: 1px solid var(--primary-white);
    }

    .toggleButton.closed {
        bottom: -2.125rem;
    }
}

.navbarContainer.hidden {
    transform: translateY(-6rem);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--navbar-color);

    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    >section {
        display: flex;
        flex-direction: row;

        &:last-child {
            margin-left: auto;
        }

        >span {
            @include breakpoints.for-tablets {
                display: none !important;
            }
        }

        >a {
            @include breakpoints.for-tablets {
                margin-left: 0 !important;

                >p {
                    display: none !important;
                }
            }
        }
    }

    .navbarLinks {
        font-size: 2.125rem;
        color: var(--font-primary-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;

        &:hover {
            cursor: pointer;
        }

        >p {
            margin: 0;
            display: inline;
        }

        >svg {
            margin-left: 0.5rem;
        }

        @include breakpoints.for-phones {
            font-size: 1rem;
        }
    }
}