.contentCard {
    min-height: 30rem;
    width: 30rem;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--secondary-white);

    .content { 
        padding: 0;

        .tabs {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: var(--tertiary-white);
            height: 2rem;
            border-radius: 5px 5px 0 0;
            color: var(--font-primary-color);
            width: 30rem;
            margin-bottom: 2rem;
    
            > button {
                height: 100%;
                background-color: inherit;
                border: none;
                width: 50%;
                font-size: 1.125rem;
                font-family: var(--primary-font-family);
                filter: brightness(85%);
    
                &:first-child {
                    border-top-left-radius: 5px;
                }
    
                &:last-child {
                    border-top-right-radius: 5px;
                }
    
                &.selected {
                    filter: brightness(100%); 
                }
    
                &:hover {
                    cursor: pointer;
                    filter: brightness(100%);
                }
            }
        }


    }

    .formContainer {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(100% - 2rem);
        min-height: 24rem;

        > div {
            margin-bottom: 2rem;
            width: 95%;
        }

        > button {
            margin-top: auto;
            margin-left: auto;
        }
    }
}
