// These will have to be removed once global styles work.
$default-background: #8EB1E5;

main {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $default-background;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
