:root {
  @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap');

  // Global style variables
  --background-color: #8EB1E5;
  --navbar-color: #B5D2FF;
  --font-primary-color: #443D4D;
  --primary-white: #FFFFFF;
  --secondary-white: #F5F5F5;
  --tertiary-white: #E4E4E4;
  --primary-dark: #000000;
  --gui-primary-color: #0D8EEB;
  --gui-secondary-color: #ED2929;
  --primary-green: #45FF26;
  --primary-orange: #FFC90A;
  --primary-red: #a03737;
  --secondary-green: #4daf3b;
  --secondary-orange: #9e840f;

  --primary-font-family: 'Fredoka', sans-serif;

  // Global classes
  .hidden {
    display: none !important;
  }

  .full-height {
    transform: translateY(-6rem);
  }

  .inside-shadow {
    -webkit-box-shadow: inset 10px 10px 14px -12px rgba(38, 37, 38, 1);
    -moz-box-shadow: inset 10px 10px 14px -12px rgba(38, 37, 38, 1);
    box-shadow: inset 10px 10px 14px -12px rgba(38, 37, 38, 1);
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
  }

  .container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
  }

  .scrollable {
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
  }

  .header {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  font-family: 'Fredoka', sans-serif;
  overflow-x: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

#root {
  height: calc(100% - 2.5rem);
  min-height: 100%;
}

main {
  margin: 0;
  width: calc(100% - 1.5rem);
  height: calc(100% - 3.5rem);
  padding: 0.75rem;
  transition: transform 0.3s ease, height 0.3s ease;
}

a {
  text-decoration: none;
}

p {
  margin: 0
}