// TODO: REMOVE AFTER FIXING GLOBAL STYLES
$--default-blue: #0D8EEB;

div {
    &.vertical {
      margin-top: 0;
      margin-bottom: 0;
      width: 2px;
      background-color: $--default-blue;
      height: 100%;
    }
  
    &.horizontal {
      margin-top: 0;
      margin-bottom: 0;
      background-color: $--default-blue;
      width: 100%;
      height: 1px;
    }
  }