// This file doesn't work for some reason gonna figure out why in summer ¯\_(ツ)_/¯
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

:root {
    $--default-background: #8EB1E5;
    $--header-background: #B5D2FF;
    $--default-gray: #E4E4E4;
}
  