@use '@/mixins' as breakpoints;

.mainContent {
    height: 100%;
    background-color: var(--tertiary-white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 56rem;

    >section {
        width: 100%;
    }

    .topSection {
        height: 6rem;
        margin-bottom: 0.125rem;

        .uiContainer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            height: 100%;

            >span {
                margin: 0 1rem;
            }

            >div {
                margin-left: auto;
                margin-right: 1rem;
                width: 20rem;
            }

            fieldset {
                border: 2px solid var(--gui-primary-color) !important;
            }

            input {
                background-color: var(--secondary-white);
            }

            @include breakpoints.for-phones {
                >span {
                    margin-left: 0.75rem;
                    margin-right: 0;

                    &:last-of-type {
                        margin-right: 0.5rem !important;
                    }
                }
            }
        }
    }

    .middleSection {
        border-top: 0.25rem solid var(--secondary-white);
        min-height: calc(100% - 12rem);
        overflow-y: hidden;
        background-image: linear-gradient(0deg,
                var(--tertiary-white) 25%,
                var(--secondary-white) 25%,
                var(--secondary-white) 50%,
                var(--tertiary-white) 50%,
                var(--tertiary-white) 75%,
                var(--secondary-white) 75%,
                var(--secondary-white) 100%);
        background-size: 12rem 12rem;

        >ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            z-index: 10;

            >li {
                height: 3rem;
                display: flex;
                align-items: center;
                transition: background-color 0.25s ease-out;
                -webkit-transition: background-color 0.25s ease-out;
                -moz-transition: background-color 0.25s ease-out;
                -o-transition: background-color 0.25s ease-out;
                min-width: 93.75rem;

                @include breakpoints.for-tablets {
                    min-width: 63.5rem;
                }

                @include breakpoints.for-phones {
                    min-width: 35rem;
                }

                >a {
                    display: flex;
                    padding: 0.5rem 3rem;
                    flex-direction: row;
                    align-items: center;
                    height: 2rem;
                    width: 100%;
                    color: var(--primary-dark);

                    >header {
                        font-size: 2rem;
                        white-space: nowrap;
                        margin-right: 2rem;
                        min-width: 45rem;
                    }

                    >span {
                        background-color: var(--primary-white);
                        padding: 0.5rem 1rem;
                        font-size: 1.25rem;
                    }

                    ul {
                        display: inline-flex;
                        width: fit-content;
                    }

                    li {
                        margin-bottom: 0;
                    }


                    @include breakpoints.for-tablets {
                        padding: 0.3625rem 1rem;

                        >header {
                            font-size: 1.375rem;
                            min-width: 26rem;
                            margin-right: 1rem;
                        }

                        >span {
                            padding: 0.25rem 0.5rem;
                            font-size: 1rem;
                        }

                        li {
                            padding: 0.25rem 0.75rem;
                            margin-left: 0.75rem;
                        }
                    }

                    @include breakpoints.for-phones {

                        >header {
                            margin-right: 0.25rem;
                            min-width: 27rem;
                        }

                        li {
                            display: none;
                        }
                    }
                }
            }

            .hoverEffect {
                &:hover {
                    background-color: #b4b4b6;
                }
            }
        }
    }

    .bottomSection {
        margin-top: auto;
        height: 6rem;

        .paginationGroup {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;

            >span {
                margin: 0 1rem;

                @include breakpoints.for-phones {
                    margin-left: 0.25rem;
                    margin-right: 0;
                }
            }
        }
    }


}